.table-header {
    background: #333A40;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;

  }

p {
    margin-bottom: 0;
    font-family: "Inter-Regular",Helvetiva;
    font-size: 18px;
    font-style: normal;
}